.dot1, .dot2, .dot3 {
    display: inline-block;
    font-size: 16px;
    animation: typing-animation 1.5s infinite;
  }
  
  .dot2 {
    animation-delay: 0.2s;
  }
  
  .dot3 {
    animation-delay: 0.4s;
  }
  
  @keyframes typing-animation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
  